@font-face {
  font-family: jetBrainsMono;
  src: url(./assets/ttf/JetBrainsMono-Regular.ttf);
}
html {
  font-size: 10px;
}
* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: jetBrainsMono, sans-serif;
}

body {
  min-height: 100vh;
  min-height: 100svh; /* for mobile so the view port automatically accounts for the address bar going up and down*/
  /* this is to make the rest of the page a flex container that way the bottom of the content will grow if its not big enough to fill the page */
  display: flex;
  /* same with this*/
  flex-direction: column;
  background: url(./assets/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.score {
  display: flex;
  justify-content: center;
  font-size: 4rem;
}
.picture {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.champPicture {
  width: 128px;
  height: 128px;
  margin: 4px;
}
.champPicture:hover {
  filter: sepia(100%) saturate(500%) hue-rotate(-20deg);
}

.pictureContainer {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
  padding: 10px;
  max-width: 710px;
}
button {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px) saturate(180%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 2rem;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.2),
    inset 0 4px 20px rgba(255, 255, 255, 0.3);
  padding: 10px;
  max-width: 710px;
  margin-top: 4px;
}
button:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  backdrop-filter: blur(1px);
  box-shadow: inset -10px -8px 0px -11px rgba(255, 255, 255, 1),
    inset 0px -9px 0px -8px rgba(255, 255, 255, 1);
  opacity: 0.6;
  filter: drop-shadow(10px 4px 6px black) brightness(115%);
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1201px) {
  .scoreWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
  }
  .highScore {
    justify-content: flex-start;
    margin: 10px 0px 0px 10px;
  }
  .score {
    margin-top: 10px;
  }
}

@media (max-width: 1200px) {
  .scoreWrapper {
    display: flex;
    flex-direction: column;
  }
  .pictureContainer {
    padding: 5px; /* combination of padding and margin here for 10px to account for the padding in picture container*/
    margin: 0px 5px;
  }
  .score {
    font-size: 2rem;
  }
}
